* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2c2050ff /*#3a2065ff*/;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.hide {
  display: none;
}

section.flex-collumn {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: pink;
  opacity: 100;
}
:focus {
  outline: none;
}

textarea.text {
  max-width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 1.3em;
  background: #3a2065ff;
  resize: none;
  color: pink;
  border: none;
  border-color: #3a2065ff;
}

menu {
  display: flex;
  justify-content: flex-start;
}

menu button {
  width: 20%;
  height: 60px;
  color: pink;
  border-radius: 16px 16px 0 0;
  background-color: #2c2050ff;
  border: none;
  display: flex;
  align-items: center;
}

button:hover {
  font-weight: 600;
  cursor: pointer;
  background-color: black;
}

button.active {
  border-bottom: none;
  background: #3a2065ff;
}

.js:hover {
  color: yellow;
}

.html:hover {
  color: whitesmoke;
}

.css:hover {
  color: skyblue;
}

.js.active {
  color: yellow;
}
.html.active {
  color: whitesmoke;
}
.css.active {
  color: skyblue;
}

div.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > button.show {
  height: 60px;
  text-align: center;
  line-height: 42px;
  color: pink;
  background-color: #2c2050ff;
  border: none;
  font-size: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 0;
}

.header > button.show:hover {
  border-radius: 16px 16px 0 0;
  background-color: black;
  color: whitesmoke;
}

.header > button.show:hover .icon {
  color: whitesmoke;
}

/*.header > button.show {
  width: 70px;
  height: 40px;
  background-color: #2c2050ff;
  border: none;
  border-radius: 16px;
  color: white;
}*/

iframe {
  width: 100%;
  height: 100%;
  margin: 0 0 0px 0px;
}

#frame {
  border: none;
  background: #7a65a0ff /* #3a2065ff /*#deb1e5ff*/;
}

.icon {
  color: black;
  padding: 2px;
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
  line-height: 35px;
  margin: 5px 10px;
}
.llaves {
  font-size: 20px;
  background-color: yellow;
}

.slash {
  background-color: white;
  font-size: 20px;
}
.sharp {
  font-size: 25px;
  background-color: skyblue;
}

.show-code {
  background-color: green;
  font-size: 18px;
}
