/* Coolors Exported Palette - https://coolors.co/2c2050-3a2065-7a65a0-deb1e5 */

/* CSS HEX */
--russian-violet: #2C2050ff;
--russian-violet-2: #3A2065ff;
--dark-blue-gray: #7A65A0ff;
--plum-web: #DEB1E5ff;

/* CSS HSL */
--russian-violet: hsla(255, 43%, 22%, 1);
--russian-violet-2: hsla(263, 52%, 26%, 1);
--dark-blue-gray: hsla(261, 24%, 51%, 1);
--plum-web: hsla(292, 50%, 80%, 1);

/* SCSS HEX */
$russian-violet: #2C2050ff;
$russian-violet-2: #3A2065ff;
$dark-blue-gray: #7A65A0ff;
$plum-web: #DEB1E5ff;

/* SCSS HSL */
$russian-violet: hsla(255, 43%, 22%, 1);
$russian-violet-2: hsla(263, 52%, 26%, 1);
$dark-blue-gray: hsla(261, 24%, 51%, 1);
$plum-web: hsla(292, 50%, 80%, 1);

/* SCSS RGB */
$russian-violet: rgba(44, 32, 80, 1);
$russian-violet-2: rgba(58, 32, 101, 1);
$dark-blue-gray: rgba(122, 101, 160, 1);
$plum-web: rgba(222, 177, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-right: linear-gradient(90deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-bottom: linear-gradient(180deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-left: linear-gradient(270deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-top-right: linear-gradient(45deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-bottom-right: linear-gradient(135deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-top-left: linear-gradient(225deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-bottom-left: linear-gradient(315deg, #2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);
$gradient-radial: radial-gradient(#2C2050ff, #3A2065ff, #7A65A0ff, #DEB1E5ff);