* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2c2050ff /*#3a2065ff*/;
  height: 100vh;
  margin: 8px;
}
main {
  padding: 7px;
}
.header {
  display: flex;
  align-items: flex-end;
}

menu {
  height: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 48em;
}
menu button {
  width: 90%;
  height: 40px;
  border-radius: 16px 16px 0 0;
  background-color: #2c2050ff;
  border: 1px solid black;
  color: pink;
  margin-right: 6px;
}
.header h1 {
  width: 50%;
  height: 40px;
  background: rgb(58, 32, 101);
  text-align: center;
  border-radius: 16px 16px 0 0;
}
#edit {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#frame {
  border: none;
  height: 90vh;
  background: #7a65a0ff /* #3a2065ff /*#deb1e5ff*/;
  width: 100%;
}
.text {
  font-size: 1.3em;
  background: #3a2065ff;
  resize: none;
  border-bottom-left-radius: 16px;
  height: 90vh;
  width: 199vh;
  color: pink;
  border-color: #3a2065ff;
}
::placeholder {
  color: pink;
  opacity: 100;
}
:focus {
  outline: none;
}
button:hover {
  background: purple;
}
@media only screen and (min-width: 570px) {
  main {
    height: 100%;
  }
  #edit {
    flex-direction: row;
  }
  #frame,
  .text {
    height: 100%;
    width: 50;
  }
}
@media screen and (min-width: 375px) {
  main {
    height: inherit;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }
  #edit {
    height: 100%;
    position: relative;
  }
  .text {
    /* flex-direction: row; */
    height: 50%;
  }
  #frame,
  .text {
    height: 100%;
    width: 50;
  }
}
.active {
  background: #3a2065ff;
  border: none;
}

button.show {
  width: 70px;
  height: 70px;
  border-radius: 16px 16px 16px 16px;
  background-color: rgb(121, 107, 143);
  position: absolute;
  right: 290px;
  top: 600px;
  border: black;
}

button.show:hover {
  border: 1px solid black;
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
}

.js {
  border-radius: 16px 16px 0 0;
  color: yellow;
  width: 40%;
  box-sizing: border-box;
}
iframe {
  margin: 0 0 0px 0px;
  border-radius: 0 0 16px 0px;
}
.html {
  width: 40%;
  color: white;
}
.css {
  color: blue;
  width: 40%;
}
